<!-- -*- mode: XML -*- -->
<launch>
    <arg name="connect_on_startup"   default="true"/>
    <arg name="calibrate_on_startup" default="false"/>
    <arg name="engage_on_startup"    default="true"/>
    <arg name="simulation_mode"	     default="false"/>

    <arg name="publish_odom"        default="true"/>
    <arg name="publish_odom_tf"     default="true"/>
    
    <arg name="output"   default="screen"/>
    <arg name="respawn"   default="false"/>
    
    <node pkg="boris_base" type="boris_base_node" name="odrive_base" ns="base"
            output="$(arg output)" respawn="$(arg respawn)">
        <param name="wheel_track" value="0.671"/>
        <param name="tyre_circumference" value="0.165"/>
        
        <param name="connect_on_startup"   value="$(arg connect_on_startup)"/>
        <param name="calibrate_on_startup" value="$(arg calibrate_on_startup)"/>
        <param name="engage_on_startup"    value="$(arg engage_on_startup)"/>
        
        <param name="publish_odom"         value="$(arg publish_odom)"/>
        <param name="publish_odom_tf"      value="$(arg publish_odom_tf)"/>
        <param name="simulation_mode"      value="$(arg simulation_mode)"/>
    </node>
</launch>
